# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/
ENV/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Temporary files
tmp/
temp/

# Render / deployment
instance/
*.sqlite3

# FFmpeg binaries if local
ffmpeg/
