<!DOCTYPE html>
<html>
<head>
    <title>Mashup Generator</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="form-container">
        <h2>Mashup Web Service</h2>

        <form method="POST">
            <label>Singer Name</label>
            <input type="text" name="singer" required>

            <label># of Videos</label>
            <input type="number" name="count" required>

            <label>Duration of each video (sec)</label>
            <input type="number" name="duration" required>

            <label>Email ID</label>
            <input type="email" name="email" required>

            <button type="submit">Submit</button>
            {% if success %}
    <div class="success">
        ✅ {{ success }}
    </div>
{% endif %}

{% if error %}
    <div class="error">
        ❌ {{ error }}
    </div>
{% endif %}

        </form>
    </div>

</body>
</html>
